MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@rm-powershell.v4vpfx3.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=Discovery_Agent

JWT_SECRET=<YOUR_SECRET>
JWT_EXP_MINUTES=720
CORS_ORIGINS=http://localhost:5173
DEBUG=1
HOST=0.0.0.0
PORT=5000
